@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#left-home-side{
    background-color: white;
    min-height: 100vh;
}

#right-home-side{
    background-color: white;
    min-height: 100vh;
}


.btn-custom{
    background-color: #A6C635;
    color: white;
    font-family: Bebas Neue;
    width: 100%;
}


.input-login{
    width: 100%;
}

h1{
    font-family: Bebas Neue;
    color: black;
}


body {
    overflow-x: hidden;
}

.posed{
    background-color: black;
    width: 300px;
    height: 200px;
}

.captcha{
    width: 100px;
    height: 100px;
}

.not-posed{
    width: 300px;
    height: 200px;
    background-color: black;
}


#pdp{
    width: 100px;
    height: 100px;
    border-radius: 0%;
}


.publication-image{
    width: 300px;
    height: 200px;
}
/* css pour classer la description la ou l'image commence*/
.publication-description{
margin-left: 15%;
}

.publication-title{
    margin-left: 15%;
}


.biographie{
    width: 350px;
    height: 150px;
}

.username {
    width: 350px;

}

.btn-custom-2{
    background-color: #A6C635;
    
}

.publication-image-flux{
    width: 90%;
    height: 100%;
    margin-left: 5%;
}

.publication-description-flux{
    margin-left: 10%;
}

.publication-title-flux{
    margin-left: 10%;
}

.publication-owner-image-flux{
    width: 50px;
    height: 50px;
}


.publication-like-icon{
    width: 40px;
    height: 40px;
}


.publication-like-text{
    font-family: Bebas Neue;
    font-size: 20px;
    margin-top: 2.5%;
}


.info-profil{
    font-size: 20px;
    height: 50%;
    background-color:  ghostwhite;
    padding-left: 25%;
}

.pseudo{
    font-family: Bebas Neue;
    font-size: 30px;
    margin-top: 2.5%;
    color: black;
}

.title-publication-on-profil{
    font-family: Bebas Neue;
    margin-top: 2.5%;
    color: black;
    margin-left: 10%;
}

.localisation-text{
    font-style: italic;
}


